/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны!!! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family, sans-serif);
  font-variation-settings: 'wght' var(--font-weight-description-card-light);
  background-color: var(--background-color);
  color: var(--main-color);
  background-image: var(--background-color);
  background-size: cover;
  
}

.header {
  background-color: var(--theme-color);
  width: clamp(43.75rem, 69.167vw - 18.5rem, 23rem);
  min-height: 368px;
  border: 2px solid black;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-family: var(--accent-font-family, sans-serif);
  gap: 25px;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__title {
  text-transform: uppercase;
  font-size: 23px;
  text-align: center;
}

.header__logo {
  text-transform: uppercase;
  font-variation-settings: 'wght' var(--font-weight-description-card-light);
  font-size: 65px;
  color: var(--main-color);
}



.theme-menu {
  display: flex;
  gap: 30px;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -16px;
  animation-name: animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}



.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-block-end: 20px;
  position: relative;
  
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
  padding-block-end: 2px;
  background: transparent;
  border: none;
  font-size: 14px;
  margin-left: 20px;
  transition: opacity 0.3s ease;
}



.main {
  background-color: var(--theme-color);
  border: 2px solid var(--main-color);
  margin: 100px auto 50px;
  position: relative;
}

.main__width {
  width: clamp(43.75rem, 69.167vw - 18.5rem, 23rem);
}

.card__img {
  max-width: 696px;
  border-top: 2px solid var(--main-color) ;
  border-bottom: 2px solid var(--main-color) ;
}

  .card__title {
    font-family: var(--main-font-family);
    font-size: 18px;
    font-variation-settings: "wght" 700;
    vertical-align: middle;
    display: flex;
    align-items: center;
    height: 31px;
    margin-inline-start: 6px;
  }


.img_description {
  position: absolute;
  top: 58px;
  right: 25px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  color: var(--main-color);
  font-family: var(--accent-font-family);
  -webkit-text-stroke: 1px white;
}

.card_wrapper {
  font-family: var(--main-font-family);
  font-size: 18px;
  font-variation-settings: "wght" 400;
  line-height: 117%;
  padding: 25px;

}

.card__description {
  margin-block-end: 27px;
}

.card__button {
  font-family: var(--accent-font-family);
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
}

.card__button:focus-visible {
  outline: 2px solid var(--main-color);
  transition: outline 0.3s ease;
}

.card__like__button {
  border: 2px solid var(--main-color);
  padding: 9px 32px;
  width: 130px;
  height: 38px;
  position: relative;
  cursor: pointer;
}

.card__like__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--main-color);
  transition: box-shadow 0.5s ease-in-out;
 
}


.card__like__button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--button-color);
  transform: scaleX(0); /* Изначально невидим */
  transform-origin: left; /* Начало масштабирования слева */
  transition: transform 0.5s ease; /* Плавный переход для эффекта выезда */
}

.card__like__button:hover::after {
  transform: scaleX(1); /* Масштабируем псевдоэлемент до его полной ширины */

}

.desc_button {
  color: var(--color-like);
  mix-blend-mode: difference;
  z-index: 1;
  position: relative;
}

.wrapper__button {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-inline-end: 27px;
  margin-block-end: 23px;
}
.card__button {
  cursor: pointer;
}

.save {
  display: flex;
  justify-content: center;
  margin-block-end: 103px;
}

.save__button {
  border: 2px solid var(--main-color);
  padding: 12px 13px;
  width: 335px;
  height: 51px;
  position: relative;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  font-family: var(--accent-font-family);
}

.icon-save {
  width: 21px;
  height: 21px;
  color: red;
  color: var(--color-like);
  mix-blend-mode: difference;
}

.theme-menu__button:disabled {
  pointer-events: none;
  cursor: auto;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:focus {
outline: none;
opacity: 0.6;
}

.modal {
  padding: 30px;
  width: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
}

.modal__icon {
  width: 39px;
  height: 39px;
}



.modal__wrapper {
  display: flex;
  flex-direction: row;
}



.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  min-width: 100%;
  height: 2px;
  background-color: currentColor;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}


.modal__content {
  display: flex;
  gap: 10px;
  font-family: var(--accent-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
 
}


.modal__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.button__text  {
  text-transform: uppercase;
}

 .floppy-big {
  min-width: 39px;
  min-height: 39px;
  margin-right: 7px;
}

.modal__button {
  background: transparent;
  border: none;
  font-family: var(--accent-font-family);
  width: 100%;
  height: 38px;
  border: 2px solid #000;
  margin-top: 30px;
}


 

