/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

root {
    --main-font-family: 'Inter', sans-serif; /*подключение основного шрифта*/
    --accent-font-family: 'PressStart2PRegular', sans-serif; /*подключение акцентного шрифта*/
    --backgroun-color-light: 
}

