/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font-family: 'Inter', sans-serif; /*подключение основного шрифта*/
    --accent-font-family: 'PressStart2P', sans-serif; /*подключение акцентного шрифта*/
    --font-weight-name-card-light: 700; /*толщина шрифта (название карточки)*/
    --font-weight-description-card-light: 400; /*толщина шрифта (описание карточки)*/
    --theme-color: #FFFFFF; /*цвет темы*/
    --main-color: #000; /*цвет текста*/
    --background-color: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%); /*основной фон сайта*/
    --button-color: #000; /*цвет для кнопки*/
    --color-heart: #000; /*цвет контура сердца*/
    --color-like: #FFFFFF; /*цвет текста кнопки лайк*/
    --color-heart-active: #FF0000; /*цвет сердца актив*/
    --stroke-color: #FFFFFF; /*цвет обводки для лейбл*/
    --font-weight-title: 700; /*толщина вариативного шрифта заголовка карточки*/
    --font-weight-text: 400; /*толщина вариативного шрифта параграфа*/
}

